header {
    color: green;
    border: 2px solid crimson;
    font-size: clamp(20px, 48px, 80px);
    padding: var(--spacing-medium);
    text-align: left;
    height: 10rem;
    margin: var(--spacing-large);
}
